.header{
    text-align: center;
    .logo{
height: 120px;
    }
    nav{
        background-color: gray;
        line-height: 45px;
a{
color: white;
text-decoration:none;
font-size: 20px;
padding: 10px;:hover{
    background: lightblue;
    transition: 1s;
}
}
    }
    
}